/* breakpoints 320px */
@media(max-width: 320px) {

    .header {
        background-image: url('../img/header-background-320.png');
    }

    .navigation {
        height: 43px;
        background: none;
    }

    .navigation__center-content {
        width: auto;
    }

    .item-icon {
        width: 20px;
        height: 20px;
    }

    .line320px-header {
        display: block;
    }

    .item__btn-map {
        display: none;
    }

    .navigation-phone {
        display: none;
    }

    .link-item__phone-icon {
        display: block;
    }

    .item__btn-shop-left {
        display: flex;
    }

    .navigation__center-content {
        margin: 0;
    }

    .item__logo {
        width: 100px;
        height: 24px;
    }

    .navigation__right-content {
        display: none;
    }

    /* section hero */

    .hero__description {
        max-width: 215px;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 140%;
    }

    .hero__btn {
        display: none;
    }

    .hero__moblie-container {
        display: flex;
        padding-bottom: 231px;
    }

    .hero-slider {
        display: none;
    }

    /* section form */

    .section-form {
        display: none;
    }

    .section-new-and-popular {
        display: none;
    }

    .moblile-gallery {
        display: block;
    }

    .mobile-video {
        display: block;
    }

    .moblie-knife-characteristic {
        display: block;
    }

    .section-accessories {
        display: block;
    }

    /* discription-card */
    .description-card__heading {
        font-size: 18px;
    }

    .description-card__text {
        font-size: 13px;
    }

    .form__heading {
        font-size: 18px;
        line-height: 21px;
    }

    .section-line {
        display: none;
    }

    .secntion-news {
        display: none;
    }

    /* footer */
    .footer__logo {
        width: 139px;
        height: 25px;
    }

    .footer__description-text {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__description {
        font-size: 11px;
        line-height: 20px;
    }

    .footer__heading {
        font-family: 'Jura';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }

    .footer__social {
        flex-direction: column;
    }

    .contact-info-container {
        display: inline;
    }

    .working-mode {
        margin-bottom: 10px;
    }

    .footer__address {
        display: inline;
    }
}