@media(max-width:620px) {
    /* catigories */
    .categories {
        display: none;
    }

    /* products */
    .section-products {
        display: none;
    }

    /* description-card */
    .section-description {
        display: block;
    }
}