html {
    font-family: 'Montserrat', sans-serif;
}

.font-family-jura {
    font-family: 'Jura', sans-serif;
}

.font-family-monserrat {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #373737;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    padding: 16px 34px;
    border-radius: 27px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: white;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* header */

.header {
    height: 590px;
    background-image: url('../img/header-background.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #373737;
    margin: 0;
    padding: 0;
    color: white;
}

/* navigation */


.navigation {
    background: rgba(33, 33, 33, 0.8);
    backdrop-filter: blur(4px);
    height: 71px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}


.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line320px-header {
    margin: 0;
    border:  0;
    border-top: 2px solid linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 218, 124, 1) 54%);;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 218, 124, 1) 54%); */
}

.item-icon {
    width: 24px;
    height: 24px;
    margin: 24px 0;
    margin-right: 24px;
}

.item-icon:not(:last-child) {

    margin-right: 0px;
}

.navigation__item {
    display: flex;
    align-items: center;
    justify-items: center;
}

.navigation__left-content {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.link-item__phone-icon {
    display: none;
}

.item__btn-shop-left {
    display: none;
}

.navigation__right-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation__center-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.item__logo {
    width: 146px;
    height: 35px;
}

.navigation-phone {
    font-family: 'Jura';
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    color: white;
    margin-left: 10px;
}

/* hero section */

.hero__content {
    padding-left: 69px;
    max-width: 602px;
}

.hero__headng {
    max-width: 602px;
    margin-bottom: 24px;
    margin-top: 77px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-size: 41px;
    line-height: 48px;
    text-transform: uppercase;

}

.hero__description {
    max-width: 447px;
    margin-bottom: 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
}

.hero__moblie-container {

    display: flex;
}

.hero__btn {
    background-color: rgba(33, 33, 33, 0);
    border: 2px solid red;
    margin-bottom: 86px;
}

.hero-btn-media-320 {
    width: 50%;
    margin-right: 30px;
    display: block;
    background-color: #C80000;
}

.hero__price {
    width: 50%;
}

.hero__moblie-container {
    display: none;
}

.hero-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 86px;
}

.slider-list {
    display: flex;
    justify-content: space-between;
    max-width: 128px;
}

.slider-item {
    margin-right: 36px;
}

.slider-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: white;
}

.slider-left {
    height: 48px;
    width: 48px;
    cursor: pointer;
    background: url('../img/slider-arrow-left.svg');
}

.slider-right {
    height: 48px;
    width: 48px;
    cursor: pointer;
    background: url('../img/slider-arrow-right.svg');
}