

/* breakpoints 1200px */
@media(max-width:1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }

    .header {
        background-size: auto;
    }

    .navigation__center-content {
        width: 40%;
    }
}

/* breakpoints 992px */
@media(max-width:992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }

    .navigation__center-content {
        width: 25%;
    }
}

/* breakpoints768px */
@media(max-width:768px) {
    .container {
        max-width: 630px;
    }

    .header {
        background-image: url(/Портфолио/TuoTown/img/header-background-768.png);
    }

    .navigation {
        background: none;
    }

    .navigation__right-content {
        display: none;
    }

    .hero__content {
        padding: 0;
    }

    .hero__headng {
        margin-top: 60px;
        font-size: 24px;
        line-height: 28px;
    }

    .hero__description {
        margin-bottom: 27px;
        font-size: 16px;
        line-height: 20px;
    }

    .hero-slider {
        margin-top: 201px;
    }
}

/* breakpoints 576px */
@media(max-width:576px) {

    .header {
        background-size: auto;
    }

    /* navigation */
    .navigation-phone {
        display: none;
    }

    .link-item__phone-icon {
        display: flex;
    }

    .navigation-phone {
        font-family: 'Jura', sans-serif;
    }

    .item__btn-shop-left {
        display: flex;
    }

    .item-icon {
        width: 20px;
        height: 20px;
    }

    .navigation__center-content {
        width: auto;
    }

    .item__logo {
        width: 146px;
        height: 35px;
        margin-right: auto;
    }

    .hero__content {
        padding-left: 15px;
    }

    /* slider */

    .hero-slider {
        display: none;
    }
}

/* breakpoints 320px */
@media(max-width: 320px) {

    .header {
        background-image: url(/Портфолио/TuoTown/img/header-background-320.png);
    }

    .navigation {
        height: 43px;
        background: none;
    }

    .navigation__center-content {
        width: auto;
    }

    .item-icon {
        width: 20px;
        height: 20px;
    }

    /* .navigation__item {
        width: 20px;
        height: 20px;
    } */

    .item__btn-map {
        display: none;
    }

    .navigation-phone {
        display: none;
    }

    .link-item__phone-icon {
        display: block;
    }

    .item__btn-shop-left {
        display: flex;
    }

    .navigation__center-content {
        margin: 0;
    }

    .item__logo {
        width: 100px;
        height: 24px;
    }

    .navigation__right-content {
        display: none;
    }

    .hero__description {
        max-width: 215px;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 140%;
    }

    .hero__btn {
        display: none;
    }

    .hero__moblie-container {
        display: flex;
    }

    .hero-slider {
        display: none;
    }
}